@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.ski1{
    position: absolute;
    width: 2000px;
    bottom: -450px;
    right: -300px;
    z-index: 20;
}

.hotair1{
    position: absolute;
    bottom: 550px;
    width: 100px;
    right: 850px;
    z-index: 19;
}

.balloon1{
    position: absolute;
    bottom: 750px;
    width: 100px;
    left: 150px;
    z-index: 19;
}

.balloon2{
    position: absolute;
    bottom: 650px;
    width: 75px;
    left: 350px;
    z-index: 15;
}

.moon{
    position: absolute;
    bottom: 850px;
    width: 110px;
    right: 50px;
    z-index: 19;
    opacity: 65%;
}

.background{
    position: absolute;
    width: 3000px;
    bottom: -580px;
    right: -650px;
    z-index: 17;
}

.sky{
    position: absolute;
    width: 2000px;
    bottom: 252px;
    right: 0;
}

@media(max-width: 600px){
    .ski1{
        position: absolute;
        width: 2000px;
        bottom: -500px;
        right: -480px;
        z-index: 20;
    }

    .balloon1{
        position: absolute;
        bottom: 690px;
        width: 50px;
        left: 50px;
        z-index: 19;
    }
    .balloon2{
        position: absolute;
        bottom: 720px;
        width: 35px;
        left: 130px;
        z-index: 15;
    }
    .moon{
        position: absolute;
        bottom: 760px;
        width: 40px;
        right: 25px;
        z-index: 19;
        opacity: 65%;
    }
    
}



.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section{
    width: 100%;
    background-color: #2B2D42;
    position: relative;

}

section .container{
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    row-gap: 75px;
}

section img{
    width: 100%;
}


.content{
    color: #fff;
    transform: translateY(-50px);

}

.title{
    padding-top: 5rem;
    padding-bottom: 4rem;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    position: relative;
    color: white;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #2B2D42, transparent);
}

.opacity{
    opacity: 0;
}

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: 1.2rem;
    }

    .title{
        font-size: 1.2rem;
    }
}
.container img{
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    width: 250px;
    border-radius: 25px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.servicewrapper{
align-items: center;
}

.service{
    margin: 50px;
    display: grid;
    justify-self: center;
    justify-content: center;

}

.footer{
    background-color: rgb(24, 33, 36);
    height: 4em;
}

.servicewrapper{
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 100%;
    height: 350px;
    background: #2B2D42;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}
.card circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EDF2F4;
    clip-path: circle(160px at center);
    transition: 0.5s;
}

.card:hover .circle::before{
    clip-path: circle(400px at center);
    background: #EF233C;
    border-radius: 20px;
}

.card img{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
height: 350px;
width: auto;
pointer-events: none;
transition: 0.5s;
border-radius: 15px;
}

.card:hover img{
    left: 72%;
    height: 420px;
}
.card .info{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .info{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .info h2{
    color:#EDF2F4;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card .info p{
color:#EDF2F4;
}

.card .info a{
    position: relative;
    color:darkgreen;
    padding: 10px 20px;
    border-radius: 10px;
    background: white;
    color: yellowgreen;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}
@media (max-width: 420px)
{

    .card{
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }
    .card:hover{
        height: 600px;
    }
    .card .info{
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .card:hover img{
        top: 70%;
        left: 50%;
        height: 320px;
    }
 .card .circle::before{
    clip-path: circle(150px at center);

 }
 .card .info h2{
 text-align: center;
}

.card .info a{
    align-self: center;
}

}